@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 450px;
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
}
svg {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.sidebar {
  background-color: rgb(32, 25, 32);
  width: 250px;
  height: 450px;
  border-right: 2px solid rgba(255, 255, 255, 0.404);
}
.options-container {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgb(14, 9, 17);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.btn-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-style: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.3rem;
  cursor: pointer;
}
.new-btn {
  left: 120px;
}

.search-btn {
  left: 160px;
}
.sort-btn {
  left: 201px;
}
.btn-container:hover {
  background-color: rgba(171, 152, 184, 0.274);
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sidebar-title {
  color: white;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 0.15rem;
  padding-left: 0.5rem;
}
.search-description,
.new-description,
.sort-description {
  position: absolute;
  white-space: nowrap;
  top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 0.3rem;
  margin: 0;
  text-align: center;
  background: rgb(149, 92, 165);
  background: linear-gradient(
    90deg,
    rgba(149, 92, 165, 1) 0%,
    rgba(131, 62, 190, 1) 100%
  );
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  visibility: hidden;
}
.new-description {
  left: -20px;
}
.search-description {
  left: -11px;
}
.sort-description {
  left: -1px;
}

.new-btn:hover .new-description {
  visibility: visible;
}
.search-btn:hover .search-description {
  visibility: visible;
}
.sort-btn:hover .sort-description {
  visibility: visible;
}
.hidden {
  display: none;
}

.notes-list {
  height: calc(100% - 64px);
  overflow-y: scroll;
}
.notes-titles {
  margin: 0;
  padding: 0.5rem;
}
.note-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.7rem;
  color: white;
  list-style: none;
  border-radius: 5px;
  padding-left: 0.25rem;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: pointer;
  margin-bottom: 0.2rem;
  margin-right: 0.3rem;
  width: 90%;
  min-height: 27.2px;
}
.note--active,
.note-title:hover {
  background-color: rgba(56, 36, 62, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.notes-container {
  background-color: rgb(19, 8, 19);
  position: relative;
  width: 350px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 250px;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.note-header,
.note-body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border-style: none;
  background-color: rgb(19, 8, 19);
  overflow: hidden;
  resize: none;
  display: block;
  color: white;
}
.note-header {
  font-size: 33px;
  margin-bottom: 1rem;
  width: 100%;
}
.note-body {
  font-size: 18px;
  width: 100%;
}
.note--hidden {
  opacity: 0;
}
.title-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.del-btn {
  cursor: pointer;
  margin-top: 0.23rem;
  margin-right: -0.16rem;
  border-radius: 5px;
  height: 20px;
  transition: all 0.3s ease;
}
.del-btn:hover {
  scale: 1.2;
  background-color: rgba(92, 89, 89, 0.582);
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.date-container {
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  margin-top: -0.47rem;
  padding: 0.3rem;
  border-radius: 5px;
  left: 260px;
  z-index: 3;
  background-color: rgba(56, 36, 62, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  visibility: hidden;
}
.date-container:before {
  content: '';
  position: absolute;
  height: 0px;
  width: 0px;
  top: 16px;
  left: -10px; /* 1px buffer for zooming problems while rendering*/
  border-width: 5px;
  border-color: transparent rgba(56, 36, 62, 1) transparent transparent;
  border-style: solid;
  z-index: 0;
}
#title-bar:hover .date-container {
  visibility: visible;
}
.sort-options {
  position: absolute;
  white-space: nowrap;
  background-color: rgb(32, 25, 32);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  color: white;
  margin: 0;
  padding: 0.3rem;
  z-index: 5;
  top: 5px;
  left: 260px;
  transition: all 0.3s ease;
}
.sort-options:before {
  content: '';
  position: absolute;
  height: 0px;
  width: 0px;
  top: 25px;
  left: -10px; /* 1px buffer for zooming problems while rendering*/
  border-width: 5px;
  border-color: transparent rgb(32, 25, 32) transparent transparent;
  border-style: solid;
  z-index: 5;
}
.sort-modified,
.sort-creation {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  padding: 0.3rem;
  border-radius: 5px;
  margin: 0;
}
.sort-modified:hover,
.sort-creation:hover {
  border-radius: 5px;
  background-color: rgba(56, 36, 62, 1);
  cursor: pointer;
}
.overlay {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
